<html>
<head>
    <link rel="stylesheet" href="/assets/pure-min.css">
</head>
<body>
<!-- calls getPerson().getFullName() and sanitizes it -->
<h1>Blocked Accounts!</h1>

<ul>
    <li>invinciblepolice</li>
    <li>mattawagleeful</li>
    <li>drippinghowdy</li>
    <li>scourgedhaka</li>
    <li>ddleycontracts</li>
    <li>unruffled</li>
    <li>ITManSec69</li>
    <li>ercoal</li>
    <li>denumvirgin</li>
    <li>ay</li>
    <li>shchurch</li>
    <li>illy</li>
    <li>unkie</li>
</ul>

</body>
</html>