<html>
<head>
    <link rel="stylesheet" href="/assets/pure-min.css">
</head>
<body>
<h1>Get out!</h1>
You are not welcome here. Find your way to get in.

<form action="http://change.me" style="visibility: hidden">
    <input type="submit" value="Click Me!" />
</form>
</body>
</html>