<html>
<head>
    <link rel="stylesheet" href="/assets/pure-min.css">
</head>
<body>
<!-- calls getPerson().getFullName() and sanitizes it -->
<h1>Get out!</h1>
You are not welcome here. Find your way to get in.
</body>
</html>