<!DOCTYPE html>
<html lang="en">
<head>
  <#include "../header.ftl">

    <!-- Custom styles for this template -->
    <link href="/assets/home.css" rel="stylesheet">
</head>
<body>

<#include "../navbar.ftl">
<br>
<br>
<div class="mx-auto" style="width: 600px;">


<form>
        <div class="form-group">
            <label for="exampleInputEmail1">Your email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="exampleTextarea">Your question</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<#include "../footer.ftl">

</div><!-- /.container -->

    Server Error in '/' Application.
    Name must start with S

    Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.

    Exception Details: System.ComponentModel.DataAnnotations.ValidationException: Name must start with S


    [ValidationException: Name must start with S]
    WebApplication1.Client.OnNameChanging(String value) in C:\depot\WebApplication1\WebApplication1\Class1.cs:16
    WebApplication1.Client.set_Name(String value) in c:\depot\webapplication1\webapplication1\model1.designer.cs:1063
    lambda_method(ExecutionScope , Shaper ) +396
    System.Data.Common.Internal.Materialization.Shaper.HandleEntityAppendOnly(Func`2 constructEntityDelegate, EntityKey entityKey, EntitySet entitySet) +196
    lambda_method(ExecutionScope , Shaper ) +407
    System.Data.Common.Internal.Materialization.Coordinator`1.ReadNextElement(Shaper shaper) +86
    System.Data.Common.Internal.Materialization.SimpleEnumerator.MoveNext() +70
    System.Data.Objects.ObjectViewQueryResultData`1..ctor(IEnumerable queryResults, ObjectContext objectContext, Boolean forceReadOnlyList, EntitySet entitySet) +264

    [TargetInvocationException: Exception has been thrown by the target of an invocation.]
    System.RuntimeMethodHandle._InvokeConstructor(Object[] args, SignatureStruct& signature, IntPtr declaringType) +0
    System.RuntimeMethodHandle.InvokeConstructor(Object[] args, SignatureStruct signature, RuntimeTypeHandle declaringType) +15
    System.Reflection.RuntimeConstructorInfo.Invoke(BindingFlags invokeAttr, Binder binder, Object[] parameters, CultureInfo culture) +249
    System.Data.Objects.ObjectViewFactory.CreateViewForQuery(TypeUsage elementEdmTypeUsage, IEnumerable`1 queryResults, ObjectContext objectContext, Boolean forceReadOnly, EntitySet singleEntitySet) +791
    System.Data.Objects.ObjectResult`1.GetIListSourceListInternal() +109
    System.Data.Objects.ObjectResult.System.ComponentModel.IListSource.GetList() +7
    System.Data.Objects.ObjectQuery`1.GetIListSourceListInternal() +21
    System.Data.Objects.ObjectQuery.System.ComponentModel.IListSource.GetList() +7
    System.Web.UI.WebControls.EntityDataSourceView.ExecuteSelect(DataSourceSelectArguments arguments, Creator qbConstructor) +1168
    System.Web.UI.WebControls.EntityDataSourceView.ExecuteSelect(DataSourceSelectArguments arguments) +154
    System.Web.UI.DataSourceView.Select(DataSourceSelectArguments arguments, DataSourceViewSelectCallback callback) +19
    System.Web.UI.WebControls.DataBoundControl.PerformSelect() +142
    System.Web.UI.WebControls.BaseDataBoundControl.DataBind() +73
    System.Web.UI.WebControls.GridView.DataBind() +4
    System.Web.UI.WebControls.BaseDataBoundControl.EnsureDataBound() +82
    System.Web.UI.WebControls.CompositeDataBoundControl.CreateChildControls() +72
    System.Web.UI.Control.EnsureChildControls() +87
    System.Web.UI.Control.PreRenderRecursiveInternal() +44
    System.Web.UI.Control.PreRenderRecursiveInternal() +171
    System.Web.UI.Control.PreRenderRecursiveInternal() +171
    System.Web.UI.Control.PreRenderRecursiveInternal() +171
    System.Web.UI.Control.PreRenderRecursiveInternal() +171
    System.Web.UI.Control.PreRenderRecursiveInternal() +171
    System.Web.UI.Control.PreRenderRecursiveInternal() +171
    System.Web.UI.Page.ProcessRequestMain(Boolean includeStagesBeforeAsyncPoint, Boolean includeStagesAfterAsyncPoint) +842

    0:0:0:0:0:0:0:1 - - "GET /contact_us HTTP/1.1" 500 2950 "http://isbc.co.uk/contact_us" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.133 Safari/537.36" 14
    0:0:0:0:0:0:0:1 - - "GET / HTTP/1.1" 200 2950 "http://isbc.co.uk/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.133 Safari/537.36" 14
    0:0:0:0:0:0:0:1 - - "GET /profile?session-id=1i2s3b4c5 HTTP/1.1" 200 2950 "http://isbc.co.uk/profile?session-id=1i2s3b4c5" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.133 Safari/537.36" 14
    0:0:0:0:0:0:0:1 - - "POST /contact_us HTTP/1.1" 500 2950 "http://isbc.co.uk/contact_us" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.133 Safari/537.36" 14






<#include "../common_scripts.ftl">
</body>
</html>



