<!DOCTYPE html>
<html lang="en">
<head>
  <#include "../header.ftl">

    <!-- Custom styles for this template -->
    <link href="/assets/home.css" rel="stylesheet">

    <style>
        .alert-message
        {
            margin: 20px 0;
            padding: 20px;
            border-left: 3px solid #eee;
        }
        .alert-message h4
        {
            margin-top: 0;
            margin-bottom: 5px;
        }
        .alert-message p:last-child
        {
            margin-bottom: 0;
        }
        .alert-message code
        {
            background-color: #fff;
            border-radius: 3px;
        }
        .alert-message-success
        {
            background-color: #F4FDF0;
            border-color: #3C763D;
        }
        .alert-message-success h4
        {
            color: #3C763D;
        }
        .alert-message-danger
        {
            background-color: #fdf7f7;
            border-color: #d9534f;
        }
        .alert-message-danger h4
        {
            color: #d9534f;
        }
        .alert-message-warning
        {
            background-color: #fcf8f2;
            border-color: #f0ad4e;
        }
        .alert-message-warning h4
        {
            color: #f0ad4e;
        }
        .alert-message-info
        {
            background-color: #f4f8fa;
            border-color: #5bc0de;
        }
        .alert-message-info h4
        {
            color: #5bc0de;
        }
        .alert-message-default
        {
            background-color: #EEE;
            border-color: #B4B4B4;
        }
        .alert-message-default h4
        {
            color: #000;
        }
        .alert-message-notice
        {
            background-color: #FCFCDD;
            border-color: #BDBD89;
        }
        .alert-message-notice h4
        {
            color: #444;
        }
    </style>
</head>
<body>

<#include "./secp_navbar.ftl">

<br>
<br>
<div class="container">

    <div class="col-sm-12 col-md-12">
        <div class="alert-message alert-message-warning">
            <h4>
                eCare: all Accounts Unlocked!</h4>
            <p>
                All accounts were unlocked. A massive transaction (ref-ID: 1POTOFMONEY) from those accounts is still pending.
                Contact the IT Security Manager to release it. Note the ref-ID and search on Confluence to know procedure details.</p>
        </div>
    </div>


<#include "../footer.ftl">

</div><!-- /.container -->


<#include "../common_scripts.ftl">
</body>
</html>



